.AddItemComponent-container {
    height: 100vh;
    width: 75vw;
    background-color: rgb(244, 242, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.food-form-card {
    width: 550px;
    height: 500px;
    padding: 50px;
}

@media (max-width: 400px) {
    .AddItemComponent-container {
        height: 100vh;
        width: 100vw;
        background-color: rgb(244, 242, 239);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
    .food-form-card {
        width: 100vw;
        padding: 15px;
    }
    .food-form-card h1 {
        font-size: medium;
    }
}