.Dashboard {
    position: relative;
    display: flex;
    height: 100%;
    width: 75vw;
    background-color: rgb(255, 255, 255);
}

.orders {
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow-y : auto;
    overflow-x: hidden;
    padding-bottom: 50px;
    border-right: 1px  solid rgb(212, 231, 139);
}

.Dashboard .order-details {
    height: 100%;
    width: 60%;
    background-color: white;
    padding: 10px;
}

.Dashboard .order-details .details-box {
    display: flex;
    gap: 50px;
}

.Dashboard img {
    width: 60%;
    height: 60vh;
    margin: auto;
    margin-top: 100px;
}

.ordersSkeletons {
    margin: 20px;
    gap: 20px;
}

@media (max-width: 480px) and (orientation: portrait) {
    .orders {
        position: absolute;
        height: 100vh;
        width: 100vw;
        padding: 0 !important;
    }
    .order-details {
        display: none;
    }
    .Dashboard img {
        width: 100%;
        height: 50vh;
    }
    .ordersSkeletons {
        gap: 0;
    }
}