.address-form-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}

.address-form-btns {
    display: flex;
    gap: 20px;
}

.address-form-inp {
    margin-top: 7px !important;
    width: 55ch !important;
}

.list-address-card {
    width: 72vw;
    margin: 15px 15px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.list-address h3 {
    padding: 5px 0 0 20px;
}

@media (max-width: 400px) {
    .address-form-box {
        display: block;
        flex-direction: row;
        gap: 20px;
        margin: 20px;
    }
    .address-form-inp {
        margin-top: 7px !important;
        width: 100% !important;
    }
    .address-form-btn {
        padding: 5px !important;
        margin-top: 15px !important;
    }
    .list-address-card {
        width: 90vw;
        padding: 0;
    }
    .list-address-card-btn {
        height: 30px;
        position: relative;
        top: 25px;
        text-decoration: none !important;
        border: none !important;
    }
    .list-address h3 {
        font-size: large;
    }
}