.MyItemsComponent-component {
    height: 100vh;
    width: 75vw;
    background-color: rgb(244, 242, 239);
    padding: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    width: 100%;
    flex-direction: row;
    overflow-y: auto;
    padding-bottom: 100px;
}

.cards::-webkit-scrollbar {
    display: none;
}

.cards-card {
    min-width: 390px;
    max-width: 350px;
    max-height: 300px;
}

.cards-card-img {
    height: 150px;
}

@media (max-width: 400px) {
    .MyItemsComponent-component {
        height: 100vh;
        width: 100vw;        
    }
    .cards-card {
        min-width: 100%;
        max-width: 350px;
        max-height: 200px;
    }
    .CardActions {
        position: relative;
        left: 160px;
        bottom: 60px;
        display: flex;
    }
    .cards-card-img {
        height: 100px;
    }
}