.orders-box {
    position: relative;
    display: flex;
    height: 100%;
    width: 75vw;
    background-color: rgb(244, 242, 239);
}

.orders-box .user-orders {
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow-y : auto;
    overflow-x: hidden;
    padding-bottom: 50px;
    border-right: 1px  solid rgb(212, 231, 139);
}

.orders-box .user-order-details {
    height: 100vh;
    width: 60%;
    background-color: rgb(244, 242, 239);
    padding: 10px;
}

.orders-box .order-details .details-box {
    display: flex;
    gap: 50px;
}

.user-order-card {
    width: 90%;
    min-height: 80px;
    max-height: 80px;
    margin: 15px 15px; 
}

.user-order-card-img {
    max-height: 50px;
    min-height: 50px;
    min-width: 100px;
    max-width: 250px;
    border-radius: 3px;
}

.user-order-card-name {
    width: 250px;
    height: 10px;
}

.OrdersComponent-container img {
    height: 350px;
    margin: 90px 50px 50px 350px;
}

.OrdersComponent-container h4 {
    text-align: center;
    margin-left: 250px;
}

@media (max-width: 480px) and (orientation: portrait) {
    .orders-box .user-orders {
        position: absolute;
        height: 100vh;
        width: 100vw;
        padding: 0 !important;
    }
    .user-order-details {
        display: none;
    }
    .user-order-card {
       width: 97%;
       max-height: 70px;
       min-height: 70px;
       margin: 5px;
       margin-bottom: 3px;
    }
    .user-order-card-img {
        max-height: 40px;
        min-height: 40px;
        min-width: 60px;
        max-width: 60px;
    }
    .user-order-card-name p {
        padding: 0;
        margin: 3px;
        font-size: 13px !important;
    }
    .user-order-card-status p {
        padding: 0 !important;
        margin: 3px;
        font-size: 12px !important;
    }
    .user-order-card-date p {
        padding: 0;
        margin: 0;
        font-size: 9px !important;
    }
    .OrdersComponent-container img {
        height: 350px;
        margin: 0;
    }
    .OrdersComponent-container h4 {
        margin-left: 0 !important;
        text-align: center;
    }
}