.AccountPanel {
  position: relative;
  height: 100vh;
  width: 25vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 0 1px rgba(38, 38, 38, 0.1), 0 1px 8px 0 rgba(38, 38, 38, 0.1);
}

.AccountPanel p {
  font-weight: 500;
  color: blue;
}

.AccountPanel p:hover {
  font-weight: 500;
  font-size: large;
  cursor: pointer;
}

.Account-container {
  display: flex;
}

.drawer-open-icon {
  display: none;
}

.drawer-open-box {
  display: none;
}

.phone-progress-bar {
  display: none;
}

@media (max-width: 480px) and (orientation: portrait) {
  .AccountPanel {
   display: none;
  }
  .drawer-open-box {
    display: inline;
    position: sticky;
    top: 50px
  }
  .drawer-open-icon {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: block;
    background-color: white;
    z-index: 10;
  }
  .drawer-box {
    width: 70vw;
  }
  .other-progress-bar {
    display: none;
  }
  .phone-progress-bar {
    display: inline;
  }
}