.form-div {
    margin: auto;
    margin-top: 20px;
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.from-state-div {
    display: flex;
    justify-content: center;
}

@media (max-width: 400px) {
    .form-div {
        margin: auto;
        margin-top: 20px;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .lockOutIcon {
        display: none;
    }
    .auth-inp {
        padding: 0 !important;
    }
}