.Home-Container {
    height: 90vh;
    width: 100vw;
    background-color: #f5f7f8;
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

.product-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    background-color: #f5f7f8;
    padding: 20px 10%;
    overflow: auto;
}

.product-card {
    min-width: 350px;
    max-width: 350px;
    height: 330px;
}

.product-card-img {
    height: 200px;
}

.order-product-card {
    width: 390px;
}

.product-card:hover {
    background-color:#ffffffe6;
}

@media (max-width: 400px) {
    .Home-Container {
        padding: 0;
    }
    .product-container {
        padding: 20px 5%;
        gap: 20px;
    }
    .product-card {
        min-width: 100%;
        max-width: 100%;
        height: 265px;
    }
    .product-card-img {
        height: 150px;
    }
    .product-card-contend {
        padding-bottom: 0 !important;
    }
    .order-product-card {
        width: 250px;
    }
    .order-product-card-media {
        display: none;
    }
    .order-dialog {
        margin: 0;
        padding: 0;
    }
}