.Home-Container {
    height: 90vh;
    width: 100vw;
    background-color: #f5f7f8;
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

.product-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    background-color: #f5f7f8;
    padding: 20px 10%;
    overflow: auto;
}