.ShoppingCart-container  {
    width: 100vw;
    background-color: rgb(244, 242, 239);
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-left: 100px;
}

.items-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100;
    width: 90%;
    padding-top: 50px;
    /* background-color: rgb(244, 242, 239); */
}

.order-btn {
    position: relative;
    top: 105px;
    display: flex;
    justify-content: center;
}

.foodCard-img {
    min-width:300px;
    max-width:300px;
    height: 250px;
}

.order-btn  {
   border-top: 1px solid rgb(216, 203, 203);
}

@media (max-width: 480px) and (orientation: portrait) {
    .ShoppingCart-container {
        padding: 0;
        margin: 0;
        padding-bottom: 20px;
    }
    .foodCard {
        width: 100% !important;
        /* margin-left: 5%; */
    }
    .foodCard-img {
        min-width: 90vw;
        max-width: 90vw;
        height: 180px;
        padding: 0;
    }
    
}