.Nav-container {
    height: 80px;
    width: 100vw;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(38, 38, 38, .1), 0 1px 8px 0 rgba(38, 38, 38, .1);
}

.left-nav {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.left-nav .testeverse {
    color: #575655ce;
    font-size: larger;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.left-nav .testeverse:hover {
    color: #575655;
}

.left-nav button svg {
    height: 40px;
    width: 90px;
}

.left-nav button {
    animation: none;
}

.search-box {
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    
}

.right-nav {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: wheat;
}

.right-nav button {
    color: #575655;
    text-decoration: none;
}

.right-nav button:hover {
    color: wheat;
}

@media (max-width: 480px) and (orientation: portrait) {
    .Nav-container {
        background-color: rgb(255, 255, 255);
        height: 100px;
        flex-direction: column;
        overflow-y: hidden;
        padding: 0;
        margin: 0;
    }
    .search-box {
        position: absolute;
        width: 100%;
        padding: 10px;
        top: 20px;
    }
    .left-nav {
        padding: 0;
        margin: 0;
        position: absolute;
        right: 70%;
        bottom: 25px;
    }
    .right-nav {
        padding: 0;
        margin: 0;
        position: absolute;
        left: 60%;
        bottom: 25px;
    }
}